
extends ../layout/layout.jade


block navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href = "/") NHSPC

            .collapse.navbar-collapse#nav-col
                ul.nav.navbar-nav.navbar-right
                    include ../layout/navigation.jade

block content
    .container
        .panel.panel-default
            .panel-heading
                h4.text-center আয়োজনের সময়সূচী

            table.table.table-hover(style = "font-size: 1em;")
                tbody
                    tr
                        td
                            p ১
                        td
                            p সংবাদ সম্মেলন
                        td
                            p এপ্রিল ২১
                        td
                            p ঢাকা

                    tr
                        td
                            p ২
                        td
                            p ঢাকা মহানগরী বিভাগীয় প্রতিযোগিতা
                        td
                            p মে ৮
                        td
                            a(href="https://www.google.com.bd/maps/place/%E0%A6%A2%E0%A6%BE%E0%A6%95%E0%A6%BE+%E0%A6%AC%E0%A6%BF%E0%A6%B6%E0%A7%8D%E0%A6%AC%E0%A6%AC%E0%A6%BF%E0%A6%A6%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B2%E0%A7%9F/@23.731549,90.392495,17z/data=!3m1!4b1!4m2!3m1!1s0x3755b8e90a449e4f:0xb7092a9c25197fa4?hl=bn")
                              p ঢাকা বিশ্ববিদ্যালয়
                    
                    tr
                        td
                            p ৩
                        td
                            p খুলনা বিভাগীয় প্রতিযোগিতা
                        td
                            p মে ১৫
                        td
                            a(href="https://www.google.com.bd/maps/place/%E0%A6%96%E0%A7%81%E0%A6%B2%E0%A6%A8%E0%A6%BE+%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%95%E0%A7%8C%E0%A6%B6%E0%A6%B2+%E0%A6%93+%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%AF%E0%A7%81%E0%A6%95%E0%A7%8D%E0%A6%A4%E0%A6%BF+%E0%A6%AC%E0%A6%BF%E0%A6%B6%E0%A7%8D%E0%A6%AC%E0%A6%AC%E0%A6%BF%E0%A6%A6%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B2%E0%A6%AF%E0%A6%BC/@22.900471,89.501779,17z/data=!3m1!4b1!4m2!3m1!1s0x39ff9bda1d0ff6e5:0x123a926908efcd0c?hl=bn")
                              p খুলনা প্রকৌশল ও প্রযুক্তি বিশ্ববিদ্যালয়


                    tr
                        td
                            p ৪
                        td
                            p সিলেট বিভাগীয় প্রতিযোগিতা
                        td
                            p মে ১৫
                        td
                            a(href="https://www.google.com.bd/maps/place/%E0%A6%B6%E0%A6%BE%E0%A6%B9%E0%A6%9C%E0%A6%BE%E0%A6%B2%E0%A6%BE%E0%A6%B2+%E0%A6%AC%E0%A6%BF%E0%A6%9C%E0%A7%8D%E0%A6%9E%E0%A6%BE%E0%A6%A8+%E0%A6%93+%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%AF%E0%A7%81%E0%A6%95%E0%A7%8D%E0%A6%A4%E0%A6%BF+%E0%A6%AC%E0%A6%BF%E0%A6%B6%E0%A7%8D%E0%A6%AC%E0%A6%AC%E0%A6%BF%E0%A6%A6%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B2%E0%A6%AF%E0%A6%BC/@24.921215,91.833074,17z/data=!3m1!4b1!4m2!3m1!1s0x3750fff54ec1d345:0xdec4aded0892689c?hl=bn")
                              p শাহজালাল বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়

                    tr
                        td
                            p ৫
                        td
                            p ঢাকা বিভাগীয় প্রতিযোগিতা
                        td
                            p মে ১৬
                        td
                            a(href="https://www.google.com.bd/maps/place/%E0%A6%AC%E0%A6%99%E0%A7%8D%E0%A6%97%E0%A6%AC%E0%A6%A8%E0%A7%8D%E0%A6%A7%E0%A7%81+%E0%A6%B6%E0%A7%87%E0%A6%96+%E0%A6%AE%E0%A7%81%E0%A6%9C%E0%A6%BF%E0%A6%AC%E0%A7%81%E0%A6%B0+%E0%A6%B0%E0%A6%B9%E0%A6%AE%E0%A6%BE%E0%A6%A8+%E0%A6%AC%E0%A6%BF%E0%A6%9C%E0%A7%8D%E0%A6%9E%E0%A6%BE%E0%A6%A8+%E0%A6%93+%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%AF%E0%A7%81%E0%A6%95%E0%A7%8D%E0%A6%A4%E0%A6%BF+%E0%A6%AC%E0%A6%BF%E0%A6%B6%E0%A7%8D%E0%A6%AC%E0%A6%AC%E0%A6%BF%E0%A6%A6%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B2%E0%A6%AF%E0%A6%BC/@22.966095,89.817135,17z/data=!3m1!4b1!4m2!3m1!1s0x39ffe84dfd30f8ed:0x1f01d1b3db61f9d2?hl=bn")
                              p বঙ্গবন্ধু শেখ মুজিবুর রহমান বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়, গোপালগঞ্জ
                    
                    tr
                        td
                            p ৬ 
                        td
                            p চট্টগ্রাম বিভাগীয় প্রতিযোগিতা
                        td
                            p মে ১৮
                        td
                            a(href="https://www.google.com.bd/maps/place/Chittagong+University/@22.471015,91.793399,17z/data=!3m1!4b1!4m2!3m1!1s0x30acd6558de2684f:0x56b2f5a03f49f7aa?hl=bn")
                              p চট্টগ্রাম বিশ্ববিদ্যালয়

                    tr
                        td
                            p ৭
                        td
                            p রাজশাহী বিভাগীয় প্রতিযোগিতা
                        td
                            p মে ২২
                        td
                            a(href="https://www.google.com.bd/maps/place/%E0%A6%B0%E0%A6%BE%E0%A6%9C%E0%A6%B6%E0%A6%BE%E0%A6%B9%E0%A7%80+%E0%A6%AC%E0%A6%BF%E0%A6%B6%E0%A7%8D%E0%A6%AC%E0%A6%AC%E0%A6%BF%E0%A6%A6%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B2%E0%A6%AF%E0%A6%BC/@24.3747995,88.6059702,13z/data=!4m5!1m2!2m1!1sRajshahi+University!3m1!1s0x39fbf02db6d04b59:0xaa58eb411ea3ec5c?hl=bn")
                              p রাজশাহী বিশ্ববিদ্যালয়
                    
                    tr
                        td
                            p ৮
                        td
                            p রংপুর বিভাগীয় প্রতিযোগিতা
                        td
                            p মে ২৩
                        td
                            a(href="https://www.google.com.bd/maps/place/%E0%A6%AC%E0%A7%87%E0%A6%97%E0%A6%AE+%E0%A6%B0%E0%A7%8B%E0%A6%95%E0%A7%87%E0%A6%AF%E0%A6%BC%E0%A6%BE+%E0%A6%AC%E0%A6%BF%E0%A6%B6%E0%A7%8D%E0%A6%AC%E0%A6%AC%E0%A6%BF%E0%A6%A6%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B2%E0%A6%AF%E0%A6%BC/@25.717923,89.259194,17z/data=!3m1!4b1!4m2!3m1!1s0x39e32d9bb08522bb:0x83741b8b6c8ee4ee?hl=bn")
                              p বেগম রোকেয়া বিশ্ববিদ্যালয়

                    tr
                        td
                            p ৯
                        td
                            p বরিশাল বিভাগীয় প্রতিযোগিতা
                        td
                            p মে ২৩
                        td
                            a(href="https://www.google.com.bd/maps/place/Barisal+University/@22.698416,90.366881,17z/data=!3m1!4b1!4m2!3m1!1s0x3755340e41fe51b9:0x5bf8233ea6355be8?hl=bn")
                              p বরিশাল বিশ্ববিদ্যালয়

                    tr
                        td
                            p ১০
                        td
                            p জাতীয় প্রতিযোগিতা
                        td
                            p মে ২৯
                        td
                            a(href="https://www.google.com.bd/maps/place/%E0%A6%AC%E0%A6%BE%E0%A6%82%E0%A6%B2%E0%A6%BE%E0%A6%A6%E0%A7%87%E0%A6%B6+%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%95%E0%A7%8C%E0%A6%B6%E0%A6%B2+%E0%A6%AC%E0%A6%BF%E0%A6%B6%E0%A7%8D%E0%A6%AC%E0%A6%AC%E0%A6%BF%E0%A6%A6%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B2%E0%A6%AF%E0%A6%BC/@23.725599,90.392495,17z/data=!3m1!4b1!4m2!3m1!1s0x3755b8dd18d3706f:0x28da0995a424ee6f?hl=bn")
                              p বাংলাদেশ প্রকৌশল বিশ্ববিদ্যালয়
                    tr
                        td
                            p ১১
                        td
                            p জাতীয় প্রোগ্রামিং ক্যাম্প
                        td
                            p মে ৩০ - জুন ২
                        td
                            p ঢাকা

        
            br
            br
            br
            br
