extends ../layout/layout.jade


block navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href = "/") NHSPC

            .collapse.navbar-collapse#nav-col
                ul.nav.navbar-nav.navbar-right
                    include ../layout/navigation.jade

block content
    .container
      .panel.panel-default
        .panel-heading
          h3.text-center নির্দেশনা

        .panel-body
          p
            strong প্রশ্ন : কিভাবে রেজিস্ট্রেশন করব ?
          p উত্তর : বিভাগীয় অফিসে ফর্ম জমা দিতে হবে। ফর্ম অনলাইনে পাওয়া যাবে। বিস্তারিত শীঘ্রি জানানো হবে|
        
          p
            strong প্রশ্ন : প্রোগ্রামিং কিভাবে শিখব?
          p উত্তর : 
            = ' '
            a(href = "http://cpbook.subeen.com/") এখান 
            = ' '
            |থেকে শুরু করতে পার​।  
          p
            strong প্রশ্ন : প্রতিযোগিতার সমস্যা কিভাবে সমাধান করতে হবে?
          p উত্তর : 
            = ' '
            a(href = " http://bit.ly/evenoddsolv") এই
            = ' '
            |ভিডিওটি দেখ।
          p 
            strong প্রশ্ন : কোডমার্শাল কিভাবে প্রতিযোগিতা করব?
          p উত্তর : 
            = ' '
            a(href = "https://algo.codemarshal.org/manual-bn.pdf") এইটি
            = ' ' 
            |খুব-ই সহজ। এটি দেখে নিলেই বুঝতে পারবে।
          p
            strong প্রশ্ন : আমার কোন প্রশ্ন থাকলে কি করব ?
          p উত্তর : 
            = ' '
            a(href ="https://discuss.codemarshal.org/") এখানে
            = ' '
            | গিয়ে তোমার কোডমার্শাল ইউজারনেম দিয়ে লগ-ইন কর​। এখন যেকোন প্রশ্ন করতে পারবে। আমাদের কেউ সময় করে উত্তর দিবে। আর চাইলে তোমরাও অন্য কারো প্রশ্নের উত্তর দিতে পারো।
