doctype html
html
    head
        title NHSPC
        meta( name="viewport" content="width=device-width, initial-scale=1" )
        meta( http-equiv = "content-type" content = "text/html;charset=utf-8" )
        meta( name="description" content = "" )
        meta( name="keywords" content = "" )

        link(href="css/bootstrap.css", rel="stylesheet")
        script(src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        
    body
        block navigation

        block content

        block footer
