
extends ../layout/layout.jade


block navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href = "/") NHSPC

            .collapse.navbar-collapse#nav-col
                ul.nav.navbar-nav.navbar-right
                    include ../layout/navigation.jade

block content
    .container
        .text-center
          img(src = "/images/resources.jpg" style = "width: 50%")
        br
        .panel.panel-default
            .panel-heading
                h4.text-center লিঙ্ক সংকলন

            table.table.table-hover(style = "font-size: 1em;")
                tbody
                    tr
                        td
                            p ১
                        td
                            p তামিম শাহরিয়ারের বই
                        td
                            p
                                a(href = "http://bit.ly/cp-book") Visit
                    tr
                        td
                            p ২
                        td
                            p কোডমার্শাল
                        td
                            p
                                a(href = "http://algo.codemarshal.org/") Visit

                    tr
                        td
                            p ৩
                        td
                            p বিচ্ছিন্ন গণিত - দ্বিমিক কম্পিউটিং
                        td
                            p
                                a(href = "http://bit.ly/bndismath") Visit


                    tr
                        td
                            p ৪
                        td
                            p তামিম শাহরিয়ারের সমস্যার সংকলন
                        td
                            p
                                a(href = "http://bit.ly/nhspcpr") Visit
