
extends ../layout/layout.jade


block navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href = "/") NHSPC

            .collapse.navbar-collapse#nav-col
                ul.nav.navbar-nav.navbar-right
                    include ../layout/navigation.jade


block content

    script.
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    .container
      .col-lg-6
        .panel.panel-default
          .panel-heading
            |Sample
          .panel-body
            h3 Celebrating Victory এর সলিউশন
            p এটা ছিল কনটেস্টের সহজতম প্রবলেম। এমন একটা প্রোগ্রাম লিখতে হবে যেটা প্রিন্ট Yaayy!! Bangladesh Won!!"
            p এই সমস্যাটি সমাধান করার জন্য শুধুমাত্র printf ফাংশনটি ব্যবহার করতে জানতে পারলেই চলবে। প্রশ্নে যেই কোডটা দেওয়া ছিল সেখানে "Hello World!" মুছে উপরের বাক্যটি বসিয়ে দিলেও চলত।

      .col-lg-6
        .panel.panel-default
          .panel-heading
            |Code
          .panel-body
            pre
              code.
                #include &ltstdio.h&gt

                int main () {

                    printf ( "Yaayy!! Bangladesh Won!!\n" );

                    return 0;
                }
    .container
      .col-lg-6
        .panel.panel-default
          .panel-heading
            |Sample
          .panel-body
            h3 A and B operator এর সলিউশন
            p এই প্রবলেমটিতে দুইটি সংখ্যা এবং একটি অপারেটর দেওয়া ছিল এবং বলতে হত সংখ্যা দুটির উপর অপারেটর প্রয়োগ করলে উত্তর কি হবে। মূলত ইনপুট ঠিকঠাক ভাবে নিয়ে কয়েকটা if কন্ডিশন লিখে দিলেই সমস্যা সমাধান হয়ে যায়।  তবে এখানে একটা ব্যাপার লক্ষণীয় যে, গুণ করার সময় যদি long  long টাইপের ভ্যারিয়েবলে ইনপুট নেয়া না হয় বা উত্তরটি যদি long long এ রাখা না হয় তবে overflow  হতে পারে।প্রবলেমটির সি 
              strong(style = "color: red;" data-toggle = "tooltip" data-placement = "bottom" data-original-title = "Thank You Mahir Labib Chowdhury ") এবং 
              |সি++ সলিউশন ডানে দেয়া হলো।

            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
      .col-lg-6
        .panel.panel-default
          .panel-heading
            |Code
          .panel-body
            pre
              code.
                #include &ltstdio.h&gt

                int main () {

                  int kase, cnt = 0;
                  scanf ( "%d", &kase );
                  while ( kase-- ) {
                    long long a, b;
                    char c;
                    scanf ( "%lld %lld %c", &a, &b, &c );

                    long long res = 0;
                    if ( c == '+' ) res = a + b;
                    if ( c == '-' ) res = a - b;
                    if ( c == '*' ) res = a * b;
                    if ( c == '/' ) res = a / b;
                    if ( c == '%' ) res = a % b;

                    printf ( "Case %d: %lld\n", ++cnt, res );
                  }

                  return 0;
                }
    .container
      .col-lg-6
        .panel.panel-default
          .panel-heading
            |Sample
          .panel-body
            h3 Lower to Upper এর সলিউশন
            p প্রবলেমটিতে বলা হয়েছে, একটি পূর্ণ নাম ইংরেজিতে দেয়া থাকবে, নামটির সবগুলো ছোট তাদের ইংরেজি অক্ষরগুলোকে বড় হাতের অক্ষরে রূপান্তরিত করতে হবে।
            p প্রবলেমটি সমাধান করার সব থেকে বড় চ্যালেঞ্জ হচ্ছে টেস্টকেসের লাইনটি ঠিকভাবে ইনপুট নেওয়া। যেহেতু নামের মাঝে স্পেস থাকতে পারে তাই ইনপুট নেওয়ার সময় সি এর বেলায় gets ফাংশন অথবা সি++ এর ক্ষেত্রে getline ফাংশন ব্যবহার করা যাবে।
            p একটি বড় হাতের অক্ষরকে ছোট হাতের অক্ষরে রূপান্তরিত করার দুইটি উপায় বলা আছে। একটা হল, সি এর বিল্টিন ফাংশন toupper ব্যবহার করা, দ্বিতীয়টা হল বড় হাতের অক্ষর ধারণকারী ভ্যারিয়েবলের সাথে ৩২ যোগ করে দেয়া।
            br
            br
            br
            br
            br
            br
            br
      .col-lg-6
        .panel.panel-default
          .panel-heading
            |Code
          .panel-body
            pre
              code.
                #include&ltstdio.h&gt
                #include&ltstring.h&gt
                #include&ltctype.h&gt
                int main()
                {
                  char name[107];
                  int i, len;
                  int kases, kaseno = 0;
                  scanf("%d", &kases);
                  getchar();
                  while(kases--)
                  {
                    gets(name);
                    printf("Case %d: ", ++kaseno);
                    len = strlen(name);
                    for(i=0; i&ltlen; i++)
                    {
                      printf("%c", toupper(name[i]));
                    }
                    printf("\n");
                  }
                }
    .container
      .col-lg-6
        .panel.panel-default
          .panel-heading
            |Sample
          .panel-body
            h3 Grading Method এর সলিউশন
            p প্রবলেমটিতে বলা আছে, বেশ কিছু শিক্ষার্থীর নাম দেওয়া থাকবে, বলতে তারা কে কি গ্রেড পেয়েছে।
            p প্রবলেমটি সহজ, তবে কে কি গ্রেড পেল সেটা ঠিকভাবে বের করার জন্য কিছু সংখ্যক কম্পাউন্ড if স্টেটমেন্ট লিখে হবে।
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
      .col-lg-6
        .panel.panel-default
          .panel-heading
            |Code
          .panel-body
            pre
              code.
                #include&ltstdio.h&gt
                int main()
                {
                  int kases, kaseno = 0;
                  int number;

                  scanf("%d", &kases);

                  while(kases--)
                  {
                    scanf("%d", &number);

                    printf("Student %d: ", ++kaseno);

                    if(number >= 90)
                      printf("A+");
                    else if(number >= 80)
                      printf("A");
                    else if(number >= 70)
                      printf("A-");
                    else if(number >= 60)
                      printf("B+");
                    else if(number >= 50)
                      printf("B-");
                    else if(number >= 40)
                      printf("C");
                    else if(number >= 35)
                      printf("D");
                    else
                      printf("F");

                    printf("\n");
                  }
                }
