
extends ../layout/layout.jade

block navigation
  nav.navbar.navbar-default
      .container-fluid
          .navbar-header
              button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                  span.sr-only Toggle Navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a.navbar-brand(href = "/") NHSPC

          .collapse.navbar-collapse#nav-col
              ul.nav.navbar-nav.navbar-right
                include ../layout/navigation.jade

block content
  .container
    .panel.panel-default
      .panel-heading
        h3.text-center জাতীয় হাইস্কুল প্রোগ্রামিং কনটেস্ট (এনএইচএসপিসি): বহুল জিজ্ঞাসিত প্রশ্ন (বজিপ্র)

      .panel-body
        p হাইস্কুলের শিক্ষার্থীদের জন্য আইসিটি কুইজ ও প্রোগ্রামিং প্রতিযোগিতার উদ্যোগ নেয়া হচ্ছে। এরকম যে কোন প্রতিযোগিতা নিয়ে সবার মনে নানান প্রশ্ন থাকে। এর মধ্যে কিছু প্রশ্ন আমরা পেয়েছি যার জবাব এখানে দেওয়া হল। নতুন প্রশ্ন-উত্তরসহ এটি নিয়মিত আপডেট করা হবে।

        p
          strong প্রশ্ন : এই প্রতিযোগিতায় কারা অংশ নিতে পারবে?
        p উত্তর : ৬ষ্ঠ থেকে দ্বাদশ শ্রেণীর শিক্ষার্থীদের জন্য কম্পিউটার প্রোগ্রামিং প্রতিযোগিতা হবে দুই ক্যাটাগরিতে – জুনিয়র ও সিনিয়র। জুনিয়র গ্রুপে ৬ষ্ঠ থেকে দশম শ্রেণীর শিক্ষার্থীরা। আর এসএসসি পরিক্ষার্থী থেকে দ্বাদশ শ্রেণী এবং পলিটেকনিক কলেজের প্রথম ও দ্বিতীয় বর্ষের শিক্ষার্থীরা সিনিয়র ক্যাটাগরি। রেজিস্ট্রেশন করে অংশ নিতে হবে। ঢাকা মহানগর এবং সাত বিভাগ মিলে মোট আটটি আঞ্চলিক প্রতিযোগিতা হবে।

        p
          strong প্রশ্ন: শুধু কি প্রোগ্রামিং প্রতিযোগিতা হবে?
        p উত্তর : না। আঞ্চলিক উৎসবে আরো থাকবে আইসিটি কুইজ প্রতিযোগিতা। এটি হবে তিন ক্যাটাগরিতে –জুনিয়র – ৬ষ্ঠ থেকে ৮ম, সেকেন্ডারি – নবম-দশম এবং হায়ার সেকেন্ডারি – এসএসসি পরিক্ষার্থী-দ্বাদশ শ্রেণী। অংশগ্রহণকারীদের ৩০-৪০ মিনিটের কুইজ প্রতিযোগিতা হবে। প্রশ্ন হবে বহুনির্বাচনী এবং প্রশ্নেই উত্তর লিখতে হবে।

        p
          strong প্রশ্ন : কোথায় কোথায় আঞ্চলিক প্রতিযোগিতা হবে?
        p উত্তর : সকল বিভাগীয় শহর যথা রংপুর, রাজশাহী, খুলনা, বরিশাল, চট্টগ্রাম ও সিলেটে, ঢাকা মহানগরী ছাড়া ঢাকা বিভাগেরটি গোপালগঞ্জে এবং ঢাকা মহানগরে এই  আঞ্চলিক প্রতিযোগিতা অনুষ্ঠিত হবে। আঞ্চলিক প্রতিযোগিতার কুইজ ও প্রোগ্রামিং প্রতিযোগিতার বিজয়ীরা ২৯ মে ঢাকার প্রকৌশল বিশ্ববিদ্যালয়ে জাতীয় প্রতিযোগিতায় অংশ নেবে।

        p
          strong প্রশ্ন : আঞ্চলিক উৎসবের ভেন্যু  কোথায়?
        p উত্তর : আঞ্চলিক ও জাতীয় আয়োজনের ভেন্যু সম্পর্কে বিস্তারিত জানা যাবে
          = ' '
          a(href="http://www.nhspc.org/time")এইখানে।
        p
          strong প্রশ্ন : অংশগ্রহণের জন্য কী আগেই নিবন্ধন করতে হবে?
        p উত্তর : হ্যাঁ। আঞ্চলিক প্রতিযোগিতায় অংশগ্রহনের জন্য নিজ নিজ ভেন্যুতে নিবন্ধন করতে হবে। নিবন্ধনের বিস্তারিত নিয়মাবলী পরবর্তী সময়ে ঘোষণা করা হবে।

        p
          strong প্রশ্ন : কম্পিউটার প্রোগ্রামিং প্রতিযোগিতায় কোন প্রোগ্রামিং ভাষা ভ্যবহার করতে হবে?
        p উত্তর : সি(C)/সি প্লাস প্লাস(c++)।

        p
          strong প্রশ্ন : এই প্রতিযোগিতাতে কীভাবে প্রোগ্রাম জমা দিতে হবে?
        p উত্তর : প্রতিযোগিতার দিন প্রতিযোগিতার স্থানে তোমাকে উপস্থিত হতে হবে। সেখানে তোমাকে ইন্টারনেট সংযোগসহ একটি কম্পিউটার দেওয়া হবে যাতে একটি সি-কম্পাইলার থাকবে। এছাড়া তুমি ইন্টারনেটে বিচারসাইটে
          = ' '
          a(href = "https://algo.codemarshal.org/") (https://algo.codemarshal.org)
          = ' '
          যেতে পারবে। এই প্রতিযোগিতার বিচার হবে অনলাইনে, কোড মার্শাল প্ল্যাটফরমে।

        p
          strong প্রশ্ন : প্রতিযোগিতার বিচার পদ্ধতি কি এসিএম আইসিপিসি  ( ACM ) মত হবে নাকি আন্তর্জাতিক ইনফরমেটিক্স অলিম্পিয়াডে  ( IOI ) হবে?
        p উত্তর : প্রথাগত এসিএম আইসিপিসি-এর বদলে এই প্রতিযোগিতার জাজিং হবে হাই স্কুল পর্যায়ের জন্য অধিকতর উপযোগী আইওআই জাজিং পদ্ধতিতে। যাদের আইওআই পদ্ধতি সম্পর্কে ধারণা নেই – প্রথাগত পদ্ধতিতে প্রতিযোগীদের সাবমিট করা একটি সমাধানকে বিচার করে সঠিক বা ভুল সিদ্ধান্ত দিয়ে থাকেন বিচারকগণ। সঠিক হলে পুর্ণ নম্বর পাওয়া যায়, ভুল হলে সরাসরি ০। এক্ষেত্রে অনেক সময় দেখা যায় যে, কোন একটি সমাধান হয়ত বিচারকদের ১০টি টেস্ট কেসের ৯টিতেই ঠিকমত কাজ করছে, ছোট কোন ভুলের জন্য একটি কেসে হয়ত ব্যর্থ হচ্ছে। দু:খজনকভাবে, এই সমাধানটিও কোন নম্বর পাবে না। কিন্তু আইওআই পদ্ধতিতে ১০টি কেসের ৯টি সফল হলে ৯০% নম্বর পাওয়া যাবে তেমনি ১০টির ২টি ঠিক হলে পাওয়া যাবে ২০%। অর্থাৎ আংশিকভাবে সঠিক সমাধান দিতে পারলে তার জন্যেও পুরস্কার আছে।

        p
          strong প্রশ্ন : জাভা বা পাইথনে কি প্রোগ্রাম করা যাবে?
        p উত্তর : না। স্কুল-কলেজ পর্য়ায়ের শিক্ষার্থীদের সবচেয়ে বড় প্রোগ্রামিং প্রতিযোগিতা হচ্ছে ইনফরমেটিক্স অলিম্পিয়াড। সেখানে তিনটি প্রোগ্রামিং ভাষা ব্যবহার করা যায়, সি, সি প্লাস প্লাস ও প্যাসকেল। যেহেতু প্যাসকেল বিলুপ্তপ্রায়, তাই এখানে সি ও সি প্লাস প্লাসের সাপোর্ট রয়েছে। ভবিষ্যতে আন্তর্জাতিক ইনফরমেটিক্স প্রতিযোগিতায় জাভা সাপোর্ট করলে সেটিও তখন ব্যবহার করা যাবে।আপাতত কেবল সি/সি প্লাস প্লাস।

        p
          strong প্রশ্ন : আমি আগে কখনো অনলাইনে প্রোগ্রামিং প্রতিযোগিতা করিনি। কেমন করে করবো?
        p উত্তর : কোডমার্শাল সাইটের ডানদিকে
          = ' '
          a(href = "https://algo.codemarshal.org/register") "Register"
          = ' '
          বাটন আছে। সেটিতে ক্লিক করলে তুমি একটা ফর্ম পাবে। সেখানে ই-মেইল, ইউজার নেম, পাসওয়ার্ড দিয়ে তুমি তোমার একাউন্ট পেয়ে যাবে। তারপর ঐখানে তুমি যে কোন কনটেস্টে অংশ নিতে পারবে।
        p
          strong প্রশ্ন : কোডমার্শাল ব্যবহারের কোন গাইড আছে?
        p
          |উত্তর: এই
          = ' '
          a(href = "https://algo.codemarshal.org/manual-bn.pdf") গাইডটিতে
          = ' '
          | সকল ধাপ পর্যায়ক্রমে বলা আছে।

        p
          strong প্রশ্ন : অনলাইন প্রোগ্রামিং কনটেস্টে অংশ নেওয়ার জন্য কী করা দরকার? কীভাবে আমার সমাধান জমা দেব?
        p
          |উত্তর : এই
          = ' '
          a(href = "http://cpbook.subeen.com/2012/12/problem-solving-guideline-1.html") ভিডিওটিতে
          = ' '
          | ধাপে ধাপে কীভাবে সমস্যার সমাধান জমা দিতে হয় তা বলা আছে। এখান তেকে তুমি তা দেখে নিতে পারো।
        p
          strong প্রশ্ন: কোডমার্শালে সি/সি প্লাস প্লাস এর জন্য কোন কম্পাইলার ব্যবহার করা হচ্ছে?
        p উত্তর : কোডমার্শালে সি/সি প্লাস প্লাস এর জন্য GNU gcc 4.9.2 ভার্সনটি ব্যবহার করা হচ্ছে।

        p
          strong প্রশ্ন: কোড লেখার সময় ইনপুট কি ফাইল থেকে নিতে হবে?
        p উত্তর: না, ইনপুট ডাটা স্ট্যান্ডার্ড ইনপুট থেকে নিতে হবে।
block footer
