
extends ../layout/layout.jade

block navigation
  nav.navbar.navbar-default
      .container-fluid
          .navbar-header
              button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                  span.sr-only Toggle Navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a.navbar-brand(href = "/") NHSPC

          .collapse.navbar-collapse#nav-col
              ul.nav.navbar-nav.navbar-right
                include ../layout/navigation.jade

block content
  .container
    .panel.panel-default
      .panel-heading
        h3.text-center জাতীয় হাইস্কুল প্রোগ্রামিং কনটেস্ট (এনএইচএসপিসি): বহুল জিজ্ঞাসিত প্রশ্ন (বজিপ্র)

      .panel-body
        .text-center
          img(src = "/images/faq.jpg" style = "width: 50%")
        br
        p হাইস্কুলের শিক্ষার্থীদের জন্য আইসিটি কুইজ ও প্রোগ্রামিং প্রতিযোগিতার উদ্যোগ নেয়া হচ্ছে। এরকম যে কোন প্রতিযোগিতা নিয়ে সবার মনে নানান প্রশ্ন থাকে। এর মধ্যে কিছু প্রশ্ন আমরা পেয়েছি যার জবাব এখানে দেওয়া হল। নতুন প্রশ্ন-উত্তরসহ এটি নিয়মিত আপডেট করা হবে।

        each qa in faq
          p
            strong প্রশ্ন : #{qa.question}
            = ' '
            a(style = "#{editStyle}" href="/edit-faq/#{qa._id}") edit
          .ans
            !{qa.answer}
