extends ../layout/layout.jade

block navigation
  nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href = "/") NHSPC

        .collapse.navbar-collapse#nav-col
            ul.nav.navbar-nav.navbar-right
              include ../layout/navigation.jade

block content
  .container
    .col-sm-6.col-sm-offset-3
      h1
        span.fa.fa-sign-in
        = ' '
        | Login

      if message.length > 0
        .alert.alert-danger
          span.m #{message}

      
      form(method = "post" action = "/login")
        .form-group
          label Email
          input.form-control(name = "email" type = "text" required)
        .form-group
          label Password
          input.form-control(name = "password" type = "password" required)
        
        button.btn.btn-warning.btn-lg(type = "submit") Login

      hr 

      p 
        |Or go to
        = ' '
        a(href = "/") Home
        |.