footer

  script.
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });




  hr
  .container
    .col-sm-3( data-toggle = "tooltip" data-placement = "top" data-original-title = "আইসিটি বিভাগ, গণপ্রজাতন্ত্রী বাংলাদেশ সরকার - আয়োজক")
          img(src = "/images/logo/ICT Logo.png" style = "display: inline-block; width: 100% ; padding-top: 5%")
    .col-sm-2( data-toggle = "tooltip" data-placement = "top" data-original-title = "বিডিওএসএন- বাস্তবায়ন সহযোগী")
      .text-center
        img(src = "/images/logo/BdOSN_logo.png" style = "display: inline-block; width : 70% ; padding-top : 15% ")
    .col-sm-3( data-toggle = "tooltip" data-placement = "top" data-original-title = "কোডমার্শাল - টেকনিকাল পার্টনার")
      .text-center
        img(src = "/images/logo/CM-logo.png" style = "display: inline-block; width : 55% ; padding-top : 5% ")
    .col-sm-2( data-toggle = "tooltip" data-placement = "top" data-original-title = "দ্বিমিক কম্পিউটিং - কনটেন্ট পার্টনার")
      .text-center
        img(src = "/images/logo/dimik.png" style = "display: inline-block; width : 50% ; padding-top : 5% ")
    .col-sm-2
      .text-center
        img(src = "/images/logo/dhansiri.png" style = "display: inline-block; width : 100% ; padding-top : 15% ;overflow : hidden; ")

  br
  .container
    .text-center
      .col-sm-2( data-toggle = "tooltip" data-placement = "bottom" data-original-title = "ঢাকা বিশ্ববিদ্যালয় - ঢাকা মহানগরীর আয়োজক")
        img(src = "/images/logo/du.jpg" style = "display: inline-block; width : 50% ;  ")
      = ' '
      .col-sm-2( data-toggle = "tooltip" data-placement = "bottom" data-original-title = "বঙ্গবন্ধু ​​শেখ মুজিবুর রহমান বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয় - ঢাকা বিভাগের আয়োজক")
        img(src = "/images/logo/bstuG.jpg" style = "display: inline-block; width : 50% ;  ")
      = ' '
      .col-sm-2( data-toggle = "tooltip" data-placement = "bottom" data-original-title = "চট্টগ্রাম বিশ্ববিদ্যালয় - চট্টগ্রাম বিভাগের আয়োজক")
        img(src = "/images/logo/cu.jpg" style = "display: inline-block; width : 50% ; ")
      = ' '
      .col-sm-2( data-toggle = "tooltip" data-placement = "bottom" data-original-title = "রাজশাহী বিশ্ববিদ্যালয় - রাজশাহী বিভাগের আয়োজক")
        img(src = "/images/logo/ru.jpg" style = "display: inline-block; width : 50% ; ")
      = ' '
      .col-sm-2( data-toggle = "tooltip" data-placement = "bottom" data-original-title = "খুলনা প্রকৌশল ও প্রযুক্তি বিশ্ববিদ্যালয় - খুলনার আয়োজক")
        img(src = "/images/logo/kuet.jpg" style = "display: inline-block; width : 50% ; ")
      = ' '
      .col-sm-2( data-toggle = "tooltip" data-placement = "bottom" data-original-title = "শাহজালাল বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয় - সিলেটের আয়োজক")
        img(src = "/images/logo/sust.png" style = "display: inline-block; width : 50% ; ")
      = ' '

  .container
    .text-center
      
      .col-sm-2
      = ' '
      .col-sm-2( data-toggle = "tooltip" data-placement = "bottom" data-original-title = "রেগম রোকেয়া বিশ্ববিদ্যালয় - রংপুরেের আয়োজক")
        img(src = "/images/logo/bru.jpg" style = "display: inline-block; width : 50% ; ")
      = ' '
      .col-sm-2( data-toggle = "tooltip" data-placement = "bottom" data-original-title = "বরিশাল বিশ্ববিদ্যালয় - বরিশালের আয়োজক")
        img(src = "/images/logo/barU.jpg" style = "display: inline-block; width : 50% ; ")
      = ' '
      .col-sm-2( data-toggle = "tooltip" data-placement = "bottom" data-original-title = " বাংলাদেশ প্রকৌশল বিশ্ববিদ্যালয় - জাতীয় উৎসবের আয়োজক")
        img(src = "/images/logo/buet.png" style = "display: inline-block; width : 50% ; ")
      = ' '
      .col-sm-2( data-toggle = "tooltip" data-placement = "bottom" data-original-title = "Daffodil International University - Dhaka Bootscamp Organizer")
        img(src = "/images/logo/diulogo.png" style = "padding-top : 10% ; display: inline-block; width : 80% ; ")


  br
  br
