
extends ../layout/layout.jade

block navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href = "/") NHSPC

            .collapse.navbar-collapse#nav-col
                ul.nav.navbar-nav.navbar-right
                    include ../layout/navigation.jade


block content

  .panel.panel-default
    .panel-body
      .col-lg-5
        .col-lg-8.pull-left
          img(src = "/images/banner.jpg" style = "width : 100%")
        h2.pull-left ন্যাশনাল হাই স্কুল প্রোগ্রামিং কনটেস্ট ২০১৫
      = ' '

      .col-lg-2.pull-right
        img(src = "/images/logo/ICT Logo.png" style = "width:100%")

  .col-lg-9.pull-left
    .panel.panel-default
      .panel-body(style="font-size: 1.5em; text-align: justify")
        p বিশ্বব্যাপী তথ্য ও যোগাযোগ প্রযুক্তির ব্যবহার এবং এর প্রয়োগ জ্যামিতিক হারে বেড়ে চলেছে। এর ফলে একদিকে মানুষের জীবন হয়ে উঠছে সহজ ও কার্যকরী অন্যদিকে এই প্রবৃদ্ধি উন্মোচন করছে সম্ভাবনার নতুন দিগন্ত। অটোমেশন, কম্পিউটারায়ন ও ডিজিটালাইজেশনের কারণে আমাদের মত দেশেও প্রযুক্তিবিদ তথা কম্পিউটার প্রোগ্রামারদের চাহিদা বেড়েই চলেছে। বিশ্বের ব্যাপারটাতো আছেই। আমাদের দেশে এখনো কম্পিউটার প্রোগ্রামিং-এর চর্চ্চা বিশ্ববিদ্যালয় ও তদুর্ধ পর্যায়ে সীমিত। কিন্তু বিশ্বের অন্যান্য দেশগুলো এই কার্যক্রমকে স্কুল পর্যায়েও ছড়িয়ে দিচ্ছে। তথ্য ও যোগাযোগ প্রযুক্তিতে একটি দক্ষ জাতি গড়ার জন্য বাংলাদেশেও ৬ষ্ঠ শ্রেণী থেকে উচ্চ মাধ্যমিক শিক্ষার্থীদের জন্য আইসিটি বিষয় বাধ্যতামূলক করা হয়েছে।

        p দেশে হাইস্কুল ও কলেজ তথা ৬ষ্ঠ থেকে দ্বাদশ শ্রেণীর শিক্ষার্থীদের মাঝে কম্পিউটার প্রোগ্রামিংকে জনপ্রিয় করার জন্য এই সাংবাৎসরিক উদ্যোগের সূচনা। আন্তর্জাতিক পরিমন্ডলের সঙ্গে সংগতি রেখে এই কার্যক্রমকে জাতীয় হাইস্কুল প্রোগ্রমিং প্রতিযোগিতা ( (National High School Programing Contest-NHSPC ) হিসাবে অবহিত করা হয়েছে।এই কার্যক্রমে থাকবে শিক্ষক ও শিক্ষার্থীদের জন্য প্রশিক্ষণ, অনলাইন ও অনসাইট প্রোগ্রামিং ও কুইজ প্রতিযোগিতা এবং ক্যাম্প। ২০১৫ সালের আয়োজনে থাকছে আঞ্চলিক ও জাতীয় প্রতিযোগিতা ও ক্যাম্প।
        p জাতীয় হাইস্কুল প্রোগ্রমিং প্রতিযোগিতার ওয়েবসাইটে সবাইকে স্বাগত।
  .image-size-coll.col-lg-3.pull-right
    a( href = "#" data-toggle = "modal" data-target = "#montriModal" )
      .panel.panel-default
        .panel-body
          img(src = "/images/portfolio/palak.jpg" style = "width: 100%; height: 70%")
        .panel-footer
          .text-center মাননীয় প্রতিমন্ত্রীর শুভকামনা
    a( href = "#" data-toggle = "modal" data-target = "#myModal" )
      .panel.panel-default
        .panel-body
          img(src = "/images/portfolio/mzi.jpeg" style = "width: 100%")
        .panel-footer
          .text-center ডঃ মুহম্মদ জাফর ইকবালের শুভকামনা

  .col-lg-9.pull-left
    a(href = "http://cpbook.subeen.com")
      .col-lg-4.pull-left
        .panel.panel-default
          .panel-body
            .text-center
              img(src="/images/shekho.jpeg" style = "width: 50%")
            h4.text-center শিখো
    a(href = "http://algo.codemarshal.org")
      .col-lg-4.pull-left
        .panel.panel-default
          .panel-body
            .text-center
              img(src="/images/ongsho.jpeg" style = "width: 50%")
              br
            h4.text-center অংশ নাও

    a(href = "http://discuss.codemarshal.org")
      .col-lg-4.pull-left
        .panel.panel-default
          .panel-body
            br
            .text-center
              img(src="/images/alochona.jpeg" style="width: 50%" )
              br
              br
            h4.text-center আলোচনা করো

  .container
    .modal.fade#montriModal(dialog = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type = "button" data-dismiss = "modal" aria-hidden = "true") x
            h4.modal-title জাতীয় প্রোগ্রামিং প্রতিযোগিতায় তোমাদের স্বাগত জানাই
          .modal-body
            p প্রিয় শিক্ষার্থী,
            p আমার ও তথ্য ও যোগাযোগ প্রযুক্তি বিভাগের শুভেচ্ছা।
            p(style="text-align: justify") তোমরা নিশ্চয়ই জানো যে, বাংলাদেশের প্রধানমন্ত্রী জননেত্রেী শেখ হাসিনা ২০১২ সালের মধ্যে ডিজিটাল বাংলাদেশ গড়ার ডাক দিয়েছেন। সে লক্ষ্যে আমরা বড়রা নানান কাজও করছি। কিন্তু তোমরাতো জানো, ২০২১ সাল নাগাদ তোমরাই হয়ে উঠবে এই দেশের মূল চালিকা শক্তি। সে সময়ে বিশ্বজুড়ে আরো বিকশিত হবে তথ্য ও যোগাযোগ প্রযুক্তি। এই জন্য ডিজিটাল বাংলাদেশ গড়ার জন্য আমাদের দরকার তথ্যও ও যোগাযোগ প্রযুক্তিতে দক্ষ জনগোষ্ঠী। তোমরা দেখেছো এখন হাইস্কুলে সবাইকেই তথ্য ও যোগাযোগ প্রযুক্তি বিষয় পড়তে হয়, যাতে তোমরা সকলে এই বিষয়ে সচেতন হতে পারো। তবে, সেটিই যথেষ্ট নয়।
            p(style="text-align: justify") তথ্য ও যোগাযোগ প্রযুক্তি এবং এর প্রয়োগ সম্পর্কে সকলের সচেতনতার পাশাপাশি আমাদের দরকার একদল দক্ষ ও বিশ্বমানের কম্পিউটার প্রোগ্রামার। তথ্য ও যোগাযোগ প্রযুক্তি বিভাগের পক্ষ থেকে আমরা জাতীয় পর্যায়ে হাইস্কুল প্রোগ্রামিং প্রতিযোগিতার উদ্যোগ নিয়েছি যাতে তোমরা হাইইস্কুল থেকে গণিত, বিজ্ঞান, ইংরেজির পাশাপাশি কম্পিউটার প্রোগ্রামিং-কেও তোমাদের পছন্দের তালিকায় রাখতে পারো। ২০১৫ সালের জাতীয় হাইস্কুল প্রোগ্রামিং প্রতিযোগিতার পাশাপামি এখন থেকে নিয়মিতভাবে অনলাইন প্রোগ্রামিং প্রতিযোগিতা, কর্মশালা এবং কুইজ প্রতিযোগিতা অনুষ্ঠিত হবে।
            p(style="text-align: justify") তোমরা যখন কোন কম্পিউটার গেমস খেলো কিংবা কম্পিউটারে ছবি আঁকো তখন নিশ্চয়ই ভাবো এগুলো কেমন করে তৈরি হয়েছে? আমরা চাই আগামীদিনগুলোতে তোমরা নিজেরাই এমন সব প্রোগ্রাম তৈরি করতে পারবে।
            p(style="text-align: justify") আমি আশাকরি, তোমরা এই প্রতিযোগিতায় অংশ নেবে এবং নিজেদেরকে আগামীদিনের দক্ষ প্রোগ্রামার হিসাবে গড়ে তুলবে।
            p(style="text-align: justify") জাতীয় প্রোগ্রামিং প্রতিযোগিতায় তোমাদের স্বাগত জানাই।

            strong
              |জুনাইদ আহ্‌মেদ পলক
              = ' '
              small এমপি
            = ' '

            .p প্রতিমন্ত্রী
            .p তথ্য ও যোগাযোগ প্রযুক্তি বিভাগ
            .p ডাক, টেলিযোগাযোগ ও তথ্যপ্রযুক্তি মন্ত্রণালয়

          .modal-footer
            button.btn.btn-success(type = "button" data-dismiss = "modal" ) Close

  .container
    .modal.fade#myModal(dialog = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type = "button" data-dismiss = "modal" aria-hidden = "true") x
            h4.modal-title কী আনন্দ ঘরে ঘরে

          .modal-body
            p(style="text-align: justify") যে কোনো হিসেবেই আমার জীবনটা খুবই কঠিন। সবসময়েই আমার কিছু না কিছু করতে হয়। কোনো কাজ নেই তাই পায়ের ওপরে পা তুলে দিয়ে জানালা দিয়ে বাইরে তাকিয়ে জোছনা কিংবা বৃষ্টি দেখছি শেষবার কখন এটা ঘটেছে মনে করতে পারি না। কাজ করতে করতে মাঝে মাঝে ক্লান্তি চলে আসে তখন পরীক্ষার খাতা দেখতে পারি না, ক্লাস লেকচার রেডি করতে পারি না। কোনো একটা সমস্যার হিসেবপত্র করতে পারি না। লিখতে পারি না এমন কী পড়তেও পারি না। এক কথায় মস্তিষ্কটা বিদ্রোহ করে বসে। আমাকে জানিয়ে দেয় সে এখন কিছু করতে রাজী নয়। তাকে বিশ্রাম দিতে হবে।
            p(style="text-align: justify") মজার ব্যাপার হচ্ছে যখন আমি অন্য কিছুই করতে পারি না তখনো কিন্তু আমি কম্পিউটার প্রোগ্রামিং করতে পারি। তার মানে আমার মস্তিষ্কটা কম্পিউটার প্রোগ্রামিংকে পরিশ্রম হিসেবে ধরে না। এটাকে বিনোদন হিসেবে ধরে। এর কারণটা কী আমি ভালো করে জানি না। তবে আমার ধারণা, বিশ্ববিদ্যালয়ে পড়ার সময় কিংবা পিএইচডি করার সময় গবেষণার অংশ হিসেবে অনেক ধলনের প্রোগ্রামিং করতে হয়েছে।তখন সেটি ছিল চাপ। এখন আমার কোনো প্রোগ্রামিং করার প্রয়োজন নেই যখন করি সখে করি। সখের কিছু  করায় কোনো চাপ নেই। কোনো পরিশ্রম নেই আছে শুধু আনন্দ।
            p(style="text-align: justify") আনন্দটা কী রকম তার একটা উদাহরণ দিই। সুডোকু সমাধান করতে আমার খুব মজা লাগে। যত কঠিন তত মজা। হঠাৎ একটা সুডোকু সমস্যা পেলাম যেটা আসলে যুক্তি দিয়ে সমাধান করা যায় না। ভিন্ন ভিন্নভাবে চেষ্টা করে দেখে সমাধান করতে হবে। তখন বিরক্ত হয়ে সুডোকু সমাধানের একটা প্রোগ্রাম লিখেছি। এখন আর সুডোকু সমাধান করতে উৎসাহ পাই না। ঠিক সে রকম আমি অবাক হয়ে দেখি ছোট ছোট বাচ্চা কয়েক সেকেন্ডে রুবিকস কিউব সমাধান করে ফেলে। আমি যত চেষ্টা করি সমাধান তো হয়ই না বরং যেখান থেকে শুরু করেছি তার থেকে জটিল অবস্থায় পৌঁছে যায়। তাই একদিন বসে বসে রুবিকস কিউবের জন্য একটা প্রোগ্রাম লিখেছি। দাবা খেলায় আমি মোটেও এক্সপার্ট নই। তাই একদিন দাবা খেলার একটা প্রোগ্রাম লিখেছি। একটা ছোট বয়সেও সেই প্রোগ্রামটাকে হারিয়ে দিতে পারবে। কিন্তু তবুও তো আমার প্রোগ্রামটা নিয়ম মেনে দাবা খেলে। সেটা কম কী? কিছুদিন আগে সাধারণ প্রিন্টার দিয়ে করিয়েছি। বাংলা লেখাকে ব্রেইলে পাল্টে দিয়ে সেটা এখন ব্রেইল প্রিন্ট করতে পারে। প্রোগ্রামিংটা আমি নিজেই করেছি। ইন্টারফেসের জটিল একটা অংশ আমার একজন ছাত্র করে দিয়েছে। তবে আমি ভুলেও আমার ছাত্রছাত্রীদের আমার প্রোগ্রামিংয়ের কোড দেখতে দিই না। কারণ তারা যদি সেটা দেখে তাহলে হাসতে হাসতে মারা যাবে। সেগুলো এত হাস্যকর এত ছেলেমানুষী।
            p(stule="text-align: justify") আমি প্রোগ্রামিং শিখেছি প্রায় ৩০ বছর আগে। এখন সেই প্রোগ্রামিং ল্যাংগুয়েজ ব্যবহার হয় বলে মনে হয় না। নতুন নতুন ল্যাংগুয়েজ বের হয়েছে, আমি তার কিছুই জানি না। সেই সব ল্যাংগুয়েজের মাত্র চার-পাঁচটা সিনটেক্স আমি কোনোভাবে আমার ছাত্রদের কাছ থেকে শিখে নিয়েছি। আমি সেগুলো দিয়েই আমার প্রোগ্রামিং করি। প্রোগ্রামিং করার কত নিয়মকানুন আছে, কায়দাকানুন আছে, কত রকম আধুনিক পদ্ধতি আছে, আমি তার কিছুই জানি না। ঘুরে-ফিরে শুধু চার-পাঁচটা লাইন ব্যবহার করে আমি আমার নিজের জন্য অনেক মজার মজার কাজ করেছি। আমি নিশ্চিত আরও অনেক করব। বিনোদনের এর থেকে মজার কিছু আছে বলে আমার জানা নেই।


          .modal-footer
            button.btn.btn-success(type = "button" data-dismiss = "modal" ) Close

  .container
    .modal.fade#myModal(dialog = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type = "button" data-dismiss = "modal" aria-hidden = "true") x
            h4.modal-title বাণী

          .modal-body
            p শীঘ্রই আসছে ...

          .modal-footer
            button.btn.btn-success(type = "button" data-dismiss = "modal" ) Close


block footer
   include ./footer.jade
