
extends ../layout/layout.jade


block navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href = "/") NHSPC

            .collapse.navbar-collapse#nav-col
                ul.nav.navbar-nav.navbar-right
                    include ../layout/navigation.jade


block content
    .container
      
      .col-lg-12
        form.form-horizontal(method = "POST" action = "/edit-news")
          fieldset
            legend.text-center Add News
            .form-group
              label.col-lg-2.control-label Headline
              .col-lg-10
                input.form-control#inputHeadline(name = "headline" placeholder = "Headline" value = "#{n.title}" required)
            = ' '
            .form-group
              label.col-lg-2.control-label Date
              .col-lg-10
                input.form-control#date(name = "date" placeholder = "Example : ১৭ এপ্রিল ২০১৫" value = "#{n.date}" required)
            = ' '
            .form-group
              label.col-lg-2.control-label Description
              .col-lg-10
                textarea.form-control.ckeditor#news(name = "description" placeholder = "Description" value = "" rows = "3" required)
                  |#{n.description}
            = ' '
                input#id(type = "hidden" name = "_id" value = "#{n._id}")
            .form-group
              .col-lg-10.col-lg-offset-2
                button.btn.btn-success(type = "submit") Submit
                = ' '
                button.btn.btn-dander(type = "reset") Reset







    br
    br
    br

block footer
  script(src = "/ckeditor/ckeditor.js")
  //- include ./footer.jade
