
extends ../layout/layout.jade


block navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href = "/") NHSPC

            .collapse.navbar-collapse#nav-col
                ul.nav.navbar-nav.navbar-right
                    include ../layout/navigation.jade



block content
    .container
        .alert.alert-dismissiable.alert-warning
            button.close(type = "button" class = "close" data-dismiss = "alert") x
            h4
                | About!
            p
                | About Page
        br

    br
    br
    br

block footer
