
extends ../layout/layout.jade


block navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href = "/") NHSPC

            .collapse.navbar-collapse#nav-col
                ul.nav.navbar-nav.navbar-right
                    include ../layout/navigation.jade


block content
    .container

      .col-lg-12
        form.form-horizontal(method = "POST" action = "/edit-faq")
          fieldset
            legend.text-center Edit FAQ
            .form-group
              label.col-lg-2.control-label প্রশ্ন
              .col-lg-10
                input.form-control#inputHeadline(name = "question" placeholder = "প্রশ্ন" value = "#{n.question}" required)
            = ' '
            .form-group
              label.col-lg-2.control-label Description
              .col-lg-10
                textarea.form-control.ckeditor#news(name = "answer" placeholder = "উত্তর" rows = "3" required)
                  |#{n.answer}
            = ' '
                input#id(type = "hidden" name = "_id" value = "#{n._id}")
            .form-group
              .col-lg-10.col-lg-offset-2
                button.btn.btn-success(type = "submit") Submit
                = ' '
                button.btn.btn-dander(type = "reset") Reset







    br
    br
    br

block footer
  script(src = "/ckeditor/ckeditor.js")
  //- include ./footer.jade
