li(class = "#{homeClass}")
    a(href = "/") হোম
li(class = "#{howToClass}")
    a(href = "/how-to") নির্দেশনা
li(class = "#{timeClass}")
    a(href = "/time") ক্যালেন্ডার ও ভেন্যুর ম্যাপ
li(class = "#{newsFeedClass}")
    a(href = "/news") নিউজফিড
li(class = "#{sampleClass}")
    a(href = "/sample") নমুনা সমস্যা ও সমাধান
li(class = "#{faqClass}")
    a(href = "/bojipro") বজিপ্র
li(class = "#{resourcesClass}")
    a(href = "/resources") লিঙ্ক সংকলন
