
extends ../layout/layout.jade


block navigation
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href = "/") NHSPC

      .collapse.navbar-collapse#nav-col
        ul.nav.navbar-nav.navbar-right
          include ../layout/navigation.jade



block content
  .container

    .panel.panel-default
      .panel-heading
        h3.panel-title News

      each n in news
        .list-group
          a.list-group-item(href = "/news-item/#{n._id}")
            h5.list-group-item-heading.pull-right #{n.date}
            h4.list-group-item-heading #{n.title}
            p.list-group-item-text #{n.tag}



block footer
  //- include ./footer.jade
