
extends ../layout/layout.jade


block navigation
  nav.navbar.navbar-default
      .container-fluid
          .navbar-header
              button.navbar-toggle.collapsed(data-toggle = "collapse" data-target = "#nav-col" type = "button")
                  span.sr-only Toggle Navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a.navbar-brand(href = "/") NHSPC

          .collapse.navbar-collapse#nav-col
              ul.nav.navbar-nav.navbar-right
                  include ../layout/navigation.jade




block content
    .container
      script.
        console.log(#{headline})
      h2
        strong
          | #{headline}
      p(style = "#{editClass}")
        a.btn.btn-warning(href = "/edit-news/#{_id}") edit
      br
      div !{description}


block footer
  //- include ./footer.jade
